<?php

return [
    'publicUrl'  => 'http://www.example.com/',
    'cryptoKey'  => 'MySuperSecretCryptoKey',
    'hybridauth' => [
        'providers' => [
            'facebook' => [
                'enabled' => true,
                'id' => '1234567890123456',
                'secret' => '123456789012345678901234567890af',
                'scope' => 'email, public_profile',
            ],
            // other providers ...
        ],
    ],
    // other config ...
];
